@using TongkhosonVn.Models;
@model ProductCategory

@{
    ViewBag.Title = Model != null ? (Model.ID != 0 ? "Cập nhật danh mục sản phẩm" : "Thêm mới danh mục sản phẩm") : "Thêm danh mục sản phẩm mới";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    IEnumerable<TradeMark> tradeMarks = ViewBag.TradeMark;
}

<h2 id="title"></h2>
<p>
    <a href="@Url.Action("ListProductCategory","Admin")" class="btn btn-outline-info">
        Danh sách thể loại sản phẩm
    </a>
</p>
<div class="box_content">

    <form action="@Url.Action("AddOrUpdateProductCategory","Admin")" method="post" enctype="multipart/form-data" class="mt-3">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model != null)
        {
            @Html.HiddenFor(model => model.ID)
        }

        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-2">Nhãn hiệu</label>
            <div class="col-md-10">
                <select name="TradeMarkIds" class="chosen-select" multiple>
                    <option>Chọn nhãn hiệu</option>
                    @foreach (TradeMark tradeMark in tradeMarks)
                    {
                        if (Model != null)
                        {
                            if (Model.ListTagProductCategory.SingleOrDefault(x => x.TradeMarkID == tradeMark.Id) != null)
                            {
                                <option value="@tradeMark.Id" selected>@tradeMark.Name</option>
                            }
                            else
                            {
                                <option value="@tradeMark.Id">@tradeMark.Name</option>
                            }
                        }
                        else
                        {
                            <option value="@tradeMark.Id">@tradeMark.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Active)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ShowMenuVertical, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.ShowMenuVertical)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.FlagHome, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.FlagHome)
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button type="submit" id="btnSubmit" class="btn"></button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script>
        if ($("#ID").val() > 0) {
            $("#title").html("Cập nhật thể loại sản phẩm");
            $("#btnSubmit").html('<i class="far fa-pen-square mr-1"></i>Lưu thay đổi');
            $("#btnSubmit").addClass("btn-primary")
        }
        else {
            $("#title").html("Thêm mới thể loại sản phẩm");
            $("#btnSubmit").html('<i class="far fa-plus mr-1"></i> Thêm mới');
            $("#btnSubmit").addClass("btn-success")
        }
        $(".chosen-select").chosen({ width: "95%", height: "100%" });
    </script>
}